<%- include('header'); %>

  <main id="container">
    <h2>🛒 Meu Carrinho</h2>
    <section id="carrinho">
      <ul id="lista-carrinho">

      </ul>

      <p id="total">Total: R$ 0,00</p>
      <a href="pagamento"><button id="finalizar-compra">Finalizar Compra</button></a>
         <button id="limpar-carrinho" onclick="limparCarrinho()">Limpar Carrinho</button>
    </section>
  </main>
















  
  <%- include('footer'); %>