<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lanchyy Pizzaria - Início</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <nav class="navbar">
    <div class="navbar-container">
      <a href="/">
          <img src="<%= logo[0] %>" alt="Logo da Lanchyy Pizzaria" class="logo-navbar"></a>
      <ul class="nav-links">
        <li><a href="/">Início</a></li>
        <li><a href="pizzas-salgada">Pizzas salgadas</a></li>
        <li><a href="pizzas_doce">Pizzas doce</a></li>
        <li><a href="bebidas">Bebidas</a></li>
        <li><a href="carrinho-compras">Carrinho</a></li>
        <li><a href="cadastro">Cadastro/Login</a></li>
      </ul>
    </div>
  </nav>


