<!-- home.ejs -->

<!-- Imagens -->
<main id="container">
    <h1>Escolha seu tipo de pizza</h1>

    <section class="opcoes-pizza">

      <article class="card overlay">
        <div class="image-wrap">
           <img src="<%= imagens[0] %>" alt="Pizza Doce">
        <div class="card-content">
          <h2 class="card-title">Pizzas Salgadas</h2>
          <p class="card-subtitle">GG (35cm) - A partir de R$20,00</p>
          <a href="pizzas-salgada" class="btn-ver">Ver Sabores</a>
        </div>
      </article>

      <article class="card overlay">
        <div class="image-wrap">
              <img src="<%= imagens[1] %>" alt="Pizza Doce">
        </div>
        <div class="card-content">
          <h2 class="card-title">Pizzas Doces</h2>
          <p class="card-subtitle">GG (35cm) - A partir de R$30,00</p>
          <a href="pizzas_doce" class="btn-ver">Ver Sabores</a>
        </div>
      </article>

    </section>
  </main>


